cargo-features = ["profile-rustflags"]
[package]
name = "malefic"
version = "0.1.0"
edition = "2021"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
debug = []
beacon = []
service = []
register_info = []
protocol_tcp = []
protocol_dns = []
protocol_http = []
protocol_tls = []
protocol_wireguard = []


default = ["beacon", "protocol_tcp", "register_info"]
template = ["beacon", "protocol_tcp"]

[profile.dev]
opt-level = 1
[profile.dev.package."*"]
opt-level = 3

[profile.release]
panic = "abort"
panic_unwind = false
opt-level = "z"
strip = true
lto = true
codegen-units = 1
incremental = false
rustflags = ["-Z", "trim-diagnostic-paths"]
[profile.release.package."*"]
opt-level = 3
# RUSTFLAGS="-Zlocation-detail=none"

[dependencies]
cfg-if = "1.0"
rand = "0.8"
uuid = { version = "1.4.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
prost = "0.13.1"
async-trait = "0.1.79"
futures = "0.3.30"
obfstr = "0.4.3"
anyhow = "1.0.81"
thiserror = "1.0.58"
lazy_static = "1.4.0"

malefic-modules = { path = "../malefic-modules", features = [ "default" ] }
malefic-helper = { path= "../malefic-helper", features = [
    "Common_Transport_Tcp",
    "Win"
] }

[dependencies.async-std]
version = "1.7.0"
features = ["unstable", "attributes"]
[build-dependencies]
prost-build = "0.13.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0"
lazy_static = "1.4.0"
serde_yaml = "0.8.23"
[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

# [target.x86_64-pc-windows-gnu]
# rustflags = [
#   "-C", "link-arg=-s",
# ]