[build]
jobs=8

[net]
retry = 3
git-fetch-with-cli = true

[target.x86_64-pc-windows-gnu]
rustflags = [
    "-C", "link-arg=-s",
]

[target.i686-pc-windows-gnu]
rustflags = [
    "-C", "link-arg=-s",
]

[target.x86_64-pc-windows-msvc]
rustflags = [
    "-C", "link-arg=/DEBUG:NONE",
]

[target.'cfg(target_os = "macos")']
rustflags = [
    "-C", "link-arg=-dead_strip"
]

[target.'cfg(not(target_os = "macos"))']
rustflags = [
    "-C", "link-arg=-Wl,--gc-sections",
    "-C", "link-arg=-Wl,--strip-all",
    "-C", "link-arg=-Wl,--allow-multiple-definition",
]