[package]
name = "malefic-helper"
version = "0.0.3"
edition = "2021"

[features]
default = ["Win", "Win_Inject_APC", "prebuild", "community"]

win_template = [
        "Win_Inject_APC",
        "Win",
]
community = []
professional = []
source = []
prebuild = []

Inject = []
Win_Inject_APC = ["Inject"]
Win_Inject_Asm = ["Inject"]
Win_Inject_Fiber = ["Inject"]
Win_Inject_Func = ["Inject"]
Win_Inject_Func_Pointer = ["Inject"]
Win_Inject_Process = ["Inject"]
Win_Inject_Thread = ["Inject"]

Linux_Inject_Asm = ["Inject"]
Linux_Inject_Fiber = ["Inject"]
Linux_Inject_Func = ["Inject"]
Linux_Inject_Func_Pointer = ["Inject"]
Linux_Inject_Process = ["Inject"]
Linux_Inject_Thread = ["Inject"]


Win = []
Darwin = []
Linux = []
Unix = []

[dependencies]
anyhow = "1.0.81"
obfstr = "0.4.3"
strum = "0.26.3"
strum_macros = "0.26.4"
thiserror = "1.0.64"
sysinfo = "0.31.2"
whoami = "1.5.1"
netstat2 = { git = "https://github.com/kurtbuilds/netstat2-rs", branch = "master" }
sha2 = "0.10"

[target.'cfg(target_os = "windows")'.dependencies]
detour = { git = "https://github.com/Hpmason/detour-rs", branch = "fix-nightly1.67.0-changes" }

wmi = { git = "https://github.com/lz520520/wmi-rs" }
[dependencies.windows]
version = "0.58.0"
features = [
        "Win32_Storage_FileSystem",
        "Win32_Storage",
        "Win32_System_IO",
        "Win32_System_Threading",
        "Win32_System_Memory",
        "Win32_System_Diagnostics_ToolHelp",
        "Win32_Foundation",
        "Win32_Security",
        "Win32_System_Services",
        "Win32_System_TaskScheduler",
        "Win32_System_SystemServices",
        "Win32_System_SystemInformation",
        "Win32_System_Registry",
        "Win32_System_Console",
        "Win32_System_LibraryLoader",
        "Win32_System_Pipes"
]



[target.'cfg(unix)'.dependencies]
libc = "0.2"
nix = "0.28.0"
